html {
    background-color: black;
    padding: 0 20px 20px 20px;
    color: white;
    margin: 20px;
}

.header {
    text-align: center;
    padding-bottom: 20px;
}

.best_movie {
    text-align: center;
    padding-bottom: 20px;
}

.top_rated {
    padding-bottom: 20px;
}

.cat1 {
    padding-bottom: 20px;
}

.cat2 {
    padding-bottom: 20px;
}

.cat3 {
    padding-bottom: 20px;
}

.footer {
    text-align: center;
    padding-top: 20px;
}